.cart-container{
    min-height: 90vh;
    align-items: flex-start;
    justify-content: flex-end;
    width: 100px;
    height: 100px;
    position: relative;
}

.cart-row-one{
    top: 0;
    right: 0;
    justify-content: flex-end;
    align-items: flex-start;
}