.card-wrapper{
    width: 250px;
    height: 350px;
    user-select: none;
    background: white;
    font-family: "Open Sans Condensed", sans-serif;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 10px 10px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transform: scale(0.95);
    transition: box-shadow 0.5s, transform 0.5s;

}
.card-wrapper:hover{
    transform: scale(1);
    box-shadow: 5px 20px 30px rgba(0, 0, 0, 0.2);
}
.card-img-container{
    width: 100%;
    height: 100%;
}
.card-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.card-image{
    height: 80%;
    width: 100%;
    background: no-repeat center center;
    -webkit-background-size: 100%;
    -moz-background-size: 100%;
    -o-background-size: 100%;
    background-size: 100%;
}
.card-image:hover{
    transform: scale(1.1);
    transition: transform 6s cubic-bezier(0.25, 0.45, 0.45, 0.95);
}
.card-image img {
    height: 320px;
    width: 250px;
    background: no-repeat center center;
}
.card-bottom{
    width: 200%;
      height: 20%;
      transition: transform 0.5s;
}
.left{
    height: 100%;
    width: 50%;
    background: white;
    position: relative;
    float: left; 
}
.card-details-one {
    margin-top: 30px;
    float: left;
    width: calc(80% - 40px);
}
.name {
    position: absolute;
    top: 15px;
    left: 5%;
    font-size: 0.87rem;
    font-weight: 500;
    text-transform: capitalize;
}
.price {
    position: absolute;
    bottom: 10px;
    left: 5%;
    font-size: 0.87rem;
    font-weight: bold;
}
.right {
    width: 50%;
    background: #f4f4f4;
    color: black;
    float: right;
    height: 200%;
    position: relative;
    overflow: hidden;
}
.card-details-two {
    font-weight: bold;
    font-size: 1.2rem;
    text-align: center;
    float: right;
    width: calc(70% - 40px);
}
.inside {
    z-index: 9;
    background: white;
    border-bottom: 1px solid #eaeded;
    width: 140px;
    height: 140px;
    position: absolute;
    top: -70px;
    right: -70px;
    border-radius: 0px 0px 200px 200px;
    transition: all 0.5s, border-radius 2s, top 1s;
    overflow: hidden;
}
.card-icon {
    position: absolute;
    font-size: inherit;
    right: 85px;
    top: 85px;
    color: rgb(119, 24, 24);
    opacity: 1;
}
.inside:hover {
    width: 100%;
    right: 0;
    top: 0;
    border-radius: 0;
    height: 80%;
}
.card-icon:hover{
    opacity: 0;
    right: 15px;
    top: 15px;
}
.cards-contents:hover {
    opacity: 1;
    transform: scale(1);
    transform: translateY(0);
}
.card-contents{
    display: flex;
    flex-direction: column;
    padding: 5%;
    opacity: 0;
    transform: scale(0.5);
    transform: translateY(-200%);
    transition: opacity 0.2s, transform 0.8s;
}
table {
    text-align: center;
    width: 100%;
}
h1,
p,
table {
color: white;
}
p {
font-size: 13px;
}
span {
font-size: 0.875rem;
}