.nav{
    z-index: 9000;
    display: flex;
    background-color: #1313;
    align-items: center;
    justify-content: space-between;
    height: 80px;
    margin: auto;
    color: white;
    width: 100%;
    user-select: none;
}

.nav-tag{
    display: flex;
    margin-right: 7%;

}
.nav-user-icon{
    font-size: 1.5rem;
}

.logo{
    color: rgb(74, 74, 182) ;
    margin-left: 15px;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0px;
    font-size: 38px;
    font-size: 800;

}

.nav-link{text-align: center;
    text-decoration: none;
    margin: 20px;
    list-style: none;
    font-size: 1.0rem;
    font-weight: 500;
    cursor: pointer;
    text-transform: capitalize;
    justify-content: space-around;
    align-items: center;
    position: relative;
    color: rgb(74, 74, 182),
}

.nav-link > span {
    margin-top: 9px;
      font-size: 20px;

    margin-left: 6px;
  }
  
  .cart-count {
    color: white;
    font-size: 12px;
    background-color: #32ca84;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    position: absolute;
    top: 7px;
    right: 47px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    animation-name: love;
    animation-duration: 180s;
}
  
  
@keyframes love {
  0% {
    background-color: #d83434;
  }
  5% {
    background-color: #2aad2a;
  }
  10% {
    background-color: #582a72;
  }
  15% {
    background-color: #932389;
  }
  20% {
    background-color: #d83434;
  }
  25% {
    background-color: #2aad2a;
  }
  30% {
    background-color: #9acd32;
  }
  35% {
    background-color: #932389;
  }
  40% {
    background-color: #87ceeb;
  }
  50% {
    background-color: #ff6347;
  }
  55% {
    background-color: #fff5ee;
  }

  60% {
    background-color: #2aad2a;
  }
  65% {
    background-color: #582a72;
  }
  70% {
    background-color: #932389;
  }
  75% {
    background-color: #d83434;
  }
  80% {
    background-color: #2aad2a;
  }
  85% {
    background-color: #9acd32;
  }
  85% {
    background-color: #932389;
  }
  90% {
    background-color: #87ceeb;
  }
  95% {
    background-color: #ff6347;
  }
  100% {
    background-color: #fff5ee;
  }
}

@keyframes load {
  0% {
    color: #d83434;
  }
  5% {
    color: #2aad2a;
  }
  10% {
    color: #582a72;
  }
  15% {
    color: #932389;
  }
  20% {
    color: #d83434;
  }
  25% {
    color: #2aad2a;
  }
  30% {
    color: #9acd32;
  }
  35% {
    color: #932389;
  }
  40% {
    color: #87ceeb;
  }
  50% {
    color: #ff6347;
  }
  55% {
    color: #fff5ee;
  }

  60% {
    color: #2aad2a;
  }
  65% {
    color: #582a72;
  }
  70% {
    color: #932389;
  }
  75% {
    color: #d83434;
  }
  80% {
    color: #2aad2a;
  }
  85% {
    color: #9acd32;
  }
  85% {
    color: #932389;
  }
  90% {
    color: #87ceeb;
  }
  95% {
    color: #ff6347;
  }
  100% {
    color: #fff5ee;
  }
}
  